body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #332A27;
}

.app-container {
  display: flex; 
  height: 100vh;
  width: 100vw;
}

header {
  width: 200px; 
  height: 100vh;
  background-color: #E65E2F;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

header .header-logo {
  width: 150px;
}

.nav-button {
  background-color: white;
  border-radius: 20%;
  padding: 8px;
  cursor: pointer;
}

.nav-button img {
  width: 50px;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  height: 70vh;
}

main {
  flex: 1; 
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  flex-direction: column;
}

.form-block {
  text-align: center;
  display: flex;
}

.form-block label {
  font-size: 2em;

}

.form-content {
  margin-top: 25px;
  margin-bottom: 25px;
}

.form-content [type*="text"] {
  width: 500px;
  height: 50px;
  font-size: 2em;
}

.form-content [type*="radio"] {
  width: 20px;
  height: 20px;
}

.form-content [type*="number"] {
  width: 100px;
  height: 50px;
  font-size: 1.5em;
  text-align: center;
}

.hint {
  background-color: white;
  color: black;
  width: 200px;
}

.submit-button {
  height: 100px;
  font-size: 1.5em;
  background-color: #E65E2F;
  color: white;
  border: none;
  width: 250px;
  border-radius: 25px;
}

.submit-container {
  text-align: center;
}
.form-block select {
  width: 200px;
  height: 50px;
  font-size: 1.5em;
  text-align: center;
  margin-left: 50px;
}

.radio-option {
  margin-bottom: 15px;
}



.horizontal {
  flex-direction: row;
  align-items: center;
  gap: 50px;
}

.vertical {
flex-direction: column;
}

.flex-container {
  display: flex;
  align-items: center;
  gap: 50px;
}

.product-input {
    width: 500px;
    height: 50px;
    font-size: 1.5em;
}


.button {
  height: 100px;
  font-size: 1.5em;
  background-color: #E65E2F;
  color: white;
  border: none;
  width: 250px;
  border-radius: 25px;
  text-align: center;
}

.buttons {
  text-align: center;
}

.next-step {
  text-align: center;
}

.suggestions {
    max-height: 200px;     /* ограничиваем высоту */
    overflow-y: auto;      /* включаем вертикальный скролл */
    margin: 0;
    padding: 0;
    list-style: none;
    border: 1px solid #ccc;
    background: white;
    position: absolute;    /* если хочешь всплывающий список */
    width: 500px;
    z-index: 100;
    cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    width: 60px;   
    height: 60px;  
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield; 
}